@font-face {
  font-family: 'clear-sans-thin-regular';
  src: url('../fonts/ClearSans-Thin.eot');
  src: url('../fonts/ClearSans-Thin.eot?#iefix') format('embedded-opentype'),
       url('../fonts/ClearSans-Thin.woff') format('woff'),
       url('../fonts/ClearSans-Thin.ttf') format('truetype'),
       url('../fonts/ClearSans-Thin.svg#clear-sans-thin-regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.browsehappy {
  background-color: #cfd3d3;
  text-align: center;
}

#main {
  width: 960px;
  margin: 0 auto;
}

body {
  font-family: clear-sans-thin-regular, sans-serif;
  font-weight: 200;
  font-size: 18px;
  line-height: 1.5em;
  background-color: #27777e;
  text-rendering: optimizeLegibility;
}

a {
  color: #1b5771;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #f4eee2;
  text-shadow: none;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.3em;
  text-shadow: #dedede 1px 1px;
  font-weight: 200;
}

h1 > a,
h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a {
  text-decoration: none;
}

h1 > a:hover,
h1 > a:focus {
  text-decoration: none;
}

header {
  margin: 20px 0;
  padding: 20px;
  overflow: auto;
  background-color: #8cb9b2;
}

header .avatar {
  float: left;
  margin-right: 20px;
}

header > h1 {
  color: #ddd;
  margin: 0 0 10px 0;
  border: none;
  font-size: 2.3em;
  text-shadow: none;
}

header > p {
  margin: 0.67em 0;
}

.contact {
  list-style: none;
  margin: 10px 0;
  padding: 0;
}

.contact > li {
  margin: 15px 0;
}

.references {
  list-style: none;
  margin: 0;
  padding: 0;
  display: block;
}

.references > li {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-top: 5px;
  margin-bottom: 5px;
}

footer {
  padding: 10px;
  overflow: auto;
}

footer > a.email {
  margin-top: 5px;
  float: left;
  color: #f4eee2;
}

footer > a.email:focus,
footer > a.email:hover {
  color: #8cb9b2;
}

footer .references {
  float: right;
  display: inline-block;
}

section {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #cfd3d3;
}

section h1 {
  color: #27777e;
  padding: 0 4px 8px 4px;
  border-bottom: 1px dotted #27777e;
  margin-top: 8px;
}

section h2,
section h3 {
  margin: 10px 0;
}

section p {
  margin: 10px 0;
}

.achievements .year,
.professional-history .tenure,
.education .duration {
  color: #999;
}

[class^=sprite-icons-] {
  display: inline-block;
  vertical-align: middle;
}

@media (max-width: 767px) {
  footer > a.email {
    margin-right: 10px;
  }

  footer .references {
    float: left;
  }
}

@media (max-width: 568px) {
  header, section {
    padding: 15px;
  }

  header .avatar {
    display: none;
  }

  header > h1 {
    font-size: 35px;
    line-height: 1.4em;
    vertical-align: middle;
  }
}

@media (min-width: 569px) and (max-width: 767px) {
  header .avatar {
    width: 25%;
    height: 25%;
  }
}

@media (max-width: 959px) {
  #main {
    width: 100%;
  }
}
